@tailwind base;
@tailwind components;
@tailwind utilities;
.pp {
  background-color: aqua;
}
.cantaner {
  width: 100%;
  height: 100px;
  background-image: url("/images/bg-header-desktop.svg");
}
.bg-light {
  width: 100%;
  height: auto;
  margin-top: 0px;
  padding-top: 40px;
  

  /* background:rgb(191, 227, 241);
     */
  background: hsl(180, 52%, 88%);
}
.box {
  display: flex;
  /* */
  margin-bottom: 20px;
  width: 80%;
  height: 130px;
  /* background: hsl(180, 52%, 96%); */
  margin-left: 10%;
  margin-right: 10%;
}
.pictureStyle {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
}
.chaildBox1 {
  flex-direction: column;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 2%;
  width: 50%;
  height: 90%;
  /* background: #6f4747; */
  position: relative;
}
.pppp {
  display: flex;
  gap: 5%;
}
.p-style {
  /* display: inline-block; */
  font-family: "League Spartan", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-family: cursive; */
  font-size: 15px;
  font-weight: 550;
  color: hsl(180, 29%, 50%);
  margin-top: 5%;
}
.lightBtn {
  /* margin-top: -90px; */
  background: hsl(180, 29%, 50%);
  /* padding: 5px; */
  border-radius: 35px;
  height: 20px;
  width: 40px;
}
.lightBtnp {
  margin-top: 5%;
  margin-bottom: 0px;
}
.newP {
  color: white;
  font-size: 10px;
  font-weight: 600;
}
.darkBtn {
  background: hsl(180, 14%, 20%);
  height: 20px;
  width: 60px;
  border-radius: 30px;
}
.darkBtnp {
  /* margin-left: 80%; */
  /* margin-top: -40%; */
  margin-top: 5%;
}
.positionStyle {

  color: hsl(180, 29%, 50%);
  /* margin-top: 0px; */
  font-weight: 700;
  /* position: absolute; */
  /* top: 55px; */
}
.boxthreep {
  display: flex;
  color: gray;
  gap: 20px;
  font-size: 10px;
  font-weight: 500;
  /* background: #c9adad; */
  /* position: relative;
  top: 95px;
  right:180px; */
}
.rightBax {
  /* flex-shrink: inherit; */
  /* position: absolute; */
  /* left: 100px; */
  /* display: flex; */
  /* background: #6b5f5f; */
  /* width: 60%; */
  /* margin-left: 20%; */
}
.coulemn {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
}
.rightBax {
  /* background: #000; */
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: auto;
}
/*  START RIGHT BOX */
.skilsBtn {
  background: #bb9696;
  /* margin: 5px; */
  height: 30px;
  background: hsl(180, 52%, 88%);
  width: auto;
  color: hsl(180, 29%, 50%);
  font-weight: 600;
}
.skilsp {
  /* padding: 5px; */
}
.skill-box {
 z-index: 2;
  display: flex;
  flex-direction: row-reverse;
  gap: 5%;
  align-items: center;
  height: 70px;
  width: 80%;
  /* background: #ecc6c6; */
  margin-left: auto;
  margin-right: auto;
  position: relative;
bottom: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* margin-bottom: 10px; */
}
.skill-box-btn {
  /* background: #e0f1f3; */
  /* margin-left: 275px; */
  height: 40px;
}
.selected-skill {
  margin-left: auto;
  margin-right: auto;
  /* background: #695757; */
  background: hsl(180, 52%, 88%);
}
.selected-skill-btn {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* border-radius: 25%; */
  border-radius: 20% 20% 20% 20%;
  display: flex;
  color: hsl(180, 29%, 50%);
  background: hsl(180, 52%, 88%);
  font-weight: 500;
  /* padding: 3px; */
}
.remove-skill-btn{
  /* height: 10px; */
  width: 25px;
  margin-left: 13px;
  background:  hsl(180, 29%, 49%);
  color: hsl(180, 60%, 81%);
  border-radius: 0px 20% 20% 0px;
}
.selected-skill-btn{
  /* background: #000; */
}
.deletbtn{
  color: hsl(180, 29%, 50%);
  font-size: larger;
  font-weight: 600;
}
.ppp{
  width: 90%;
}
.whiteBox{
  border-color:hsl(180, 29%, 50%);
}

/* bnjkl */
.bg{
  /* color: hsl(180, 60%, 81%); */
  /* background: hsl(180, 60%, 81%); */
  background: hsl(180, 52%, 88%);
}